.isOnline {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: springgreen;
    margin-left: 15px;
    margin-top: 20px;
  }
  .isNotOnline {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    margin-left: 15px;
    margin-top: 20px;
  }
  .friendList {
    list-style: none;
  }
  .item {
    display: flex;
    width: 15%;
    background-color: #fff;
    margin: 10px;
    border-radius: 5px;
  }
  .name {
    padding-left: 4%;
  }
  .avatar {
    padding-left: 10px;
  }